<div class="container">
    <form class="form-input"
          [formGroup]="noteForm">
        <div class="raw">
            <div class="col-8">
                <h4>Добавить заметку</h4>
            </div>
        </div>
        <p class="input-name">Название заметки:</p>
        <input class="note-name-form"
         type="text"
          name="note name"
          formControlName="title">

        <div>
            <textarea class="note-form" 
             name="note" 
             id="note"
             formControlName="text"></textarea>
        </div>

        <button 
        (click)="onAddNote()"
        class="add-btn"
        [disabled]="noteForm.invalid">Добавить</button>
    </form>

</div>